@charset "UTF-8";
header {
display: flex;
align-items: center;
background: rgb(196,121,217);
background: linear-gradient(90deg, rgba(196,121,217,1) 0%, rgba(208,128,242,1) 35%, rgba(6,191,173,1) 100%);
margin:0px;
height: 100px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {	
background:white;
margin:0px;
}

#footer {
	position: sticky;
	top: 100%;
	background-color: #26272b;
	color: white;
	margin-top: 5px;
	padding: 25px;
	text-align: center;
	clear: both;
	line-height: normal;
}

#logo {
	padding: 10px 0px 10px 10px;
}

#icone {
	display: flex;
	float: right;
	margin-left: 70%;
}

nav {
	height: 60px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);	
}

nav ul {
	text-align: center;
	margin: 0px;
	list-style-type: none;
	padding: 0px 5px 30px;
}

nav ul li {
	font-size: 20px;
	font-family: Arial, sans-serif;
	display: inline;
	padding: 10px 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
   display: inline-block;
   vertical-align: middle;
   margin: 20px 0px;
}

nav ul li a {
	font-weight: bold;
	color: black;
	text-decoration:none;
}

nav ul li a:hover {
	font-weight: bold;
	color: rgba(6,191,173,1);
	text-decoration:none;
}

#search {
	float: right;	
	margin-right: 15px;
}

#search input {
	 border-radius: 15px;
	 padding: 5px;
	 width: 250px;
}

#title { 
     text-align: center;
     font-size: 50px;
     font-family: Arial, sans-serif;	
}

#MyForm {
	margin-left: 35%; 
}

#table {
	display: table-row;	
}

#table p {
	display: table-cell;
	padding: 3px;
	font-family: Arial, sans-serif;
	text-align: center;
}

#table p input {
	 border-radius: 15px;
	 padding: 5px;
	 width: 250px;
}
#table #selTaglia{
	border-radius: 15px;
	padding: 5px;
} 
#table #descrizione{
	border-radius: 15px;
	padding: 5px;
	resize: none;
}

#clic input {
	 border-radius: 15px;
     width: 100px;
	 margin-left: 18%;
	 background:rgba(208,128,242,1);
	 color: black;
	 font-family: Arial, sans-serif;
}

#clic input:hover {
     font-weight: bold;
}

#clic a{
	 font-weight: bold;
	 color: black;
	 text-decoration: none;
	 font-family: Arial, sans-serif;
}

#clic a:hover {
	 font-weight: bold;
	 color: rgba(6,191,173,1);
	 text-decoration: none;
	 transition:.4s;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

#password {
    padding-right: 40px; 
}

.password-container span {
	color: gray;
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
    margin: 6px 0px 0px;
}

.elem-content {
	display: none;
	 position: absolute;
	
}
.drop:hover .elem-content{
	display: block;
}
.elem-content a{
	display: table;
	text-align: left;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-family: Arial, sans-serif;
}
.elem-content a:hover{
	 font-weight: bold;
	 color: rgba(196,121,217,1);
	 text-decoration: none;
	 transition:.4s;
}
fieldset{
	border-style: solid;
	border-radius: 30px;
	border-width: medium;
	
}
#leg{
	font-family: Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	color:rgba(6,191,173,1);
	
}
 #dati-list{
	text-align: center;
	list-style-type: none;
	color:rgba(6,191,173,1);

}
#dati-list .elem-field{
	font-weight: bold;
	font-size: 150%;
	color: black;
}

